@import url(https://fonts.googleapis.com/css?family=Khula:700);

body{
    background-color:rgb(11, 10, 12);
    color: #ffffff;
    font-family: 'Poppins';
    padding: 0;
    margin: 0;
    background-image: url("dog2.jpg");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: absolute;
    background-repeat: repeat-y;
    background-size: cover;
    bottom:0;

}  

/*function below*/
.box {
    font-size: 12vh;
    font-weight: 1000;
    padding: 20px;
    text-align: center;
    margin: auto;
    width: 200%; /* Increase the width to extend beyond the section */
    max-width: none; /* Remove the maximum width constraint */
    position: sticky;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0ms linear; 
}

.boxes {
    margin-left:0;
    margin-right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    overflow-x: scroll;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.35);
    
}
/*function above*/

.half-opacity {
    backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 10%;
}

/*The stuff directly below is from typing effect*/
.hidden {
  opacity:0;
}
.console-container {
  
  font-size:12vh;
  font-weight: 1000;
  line-height: 10vh;
  text-align:left;
  height:300px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin-top:200px;
  margin-left:50px;
}
.console-underscore {
    display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
.hide{
    font-weight:400;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    min-height:925px;
    max-height:950px;

}
/*The stuff directly above is from typing effect*/

section{
    display:grid;
    place-items: center;
    align-content:center;
    text-align:center;
    min-height: 85vh;
    background:rgb(41, 41, 43);
    margin: 10vh;
    background-color: rgba(0, 0, 0, 0.35);
    
}
.hidden1{
opacity: 0;
filter: blur(5px);
transform: translateX(-100%);
transition: all 2s;
backdrop-filter: blur(10px); 
background-color: rgba(0, 0, 0, 0.35);
border-radius: 7%;
}

.show{
opacity: 1;
filter: blur(0);
transform:translate(0);
}

.logo {
    background: none; /* Remove the background */
    padding: 20px; /* Adjust padding as needed */
    color: #ffffff; /* Set the text color to white */
    display: inline; /* Ensure the text doesn't take up full width */
}

.logo:nth-child(2){
    transition-delay: 200ms;
}
.logo:nth-child(3){
    transition-delay: 400ms;
}
.logo:nth-child(4){
    transition-delay: 600ms;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 4vh;
    font-weight: 400;
}

li{
    display: inline;
    margin: 0;
    padding: 2px;
    margin-left: 80%;
}

a {
    
    text-decoration: none;
    position: relative;
    color: rgb(46, 26, 41);
    font-weight: bold;
    font-size: 3vh;
    padding: 10px 20px;
    overflow: hidden;
    z-index:1;
      
}

nav a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background-color: rgb(46, 26, 41, .35); /* Color of the block */
    transition: width 0.5s ease;
    z-index:0;
  }

nav a:hover::before {
    width: 100%;
  }


.flex-container {
    display: flex; /* Use flexbox to arrange the columns */
    justify-content: space-between; /* Space the columns equally */
    padding: 2px; /* Optional: Add some padding around the columns */
    height: 80vh; /* Set the height of the container */
    margin: 20px 0 0 0;
}

.column {
    flex: 1; /* Each column takes equal width */
    background-color: #3498db; /* Background color of the columns */
    margin: 0 2px; /* Optional: Add some margin between the columns */
    padding: 350px 0;
    max-height: 600px;

}

.caption{
border: 5px solid red;
margin: 0;
padding-bottom:30px;
min-height: 100px;

}

.contact{
    background-color: rgb(46, 26, 41);
    margin:0;
    min-height:300px;
}

.scrolling-text{
display:flex;
align-items: center;
height: 100vh;
overflow: hidden;

}

.scroll{
    white-space: nowrap;
    margin: 0 2em;
}

.scroll div{
    display: flex;
    gap: 2em;

}

.scroll p {
    font-size: 4em;
    color:white;
    font-weight: bold;
    margin-bottom: 0;
    line-height:10px

}

.RightToLeft{
    animation: RightToLeft 15s infinite linear;
}

@keyframes RightToLeft {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }

}

.LeftToRight{
    animation: LeftToRight 15s infinite linear;
}

@keyframes LeftToRight {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(-0%);
    }

}